{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>

    <a href="{{ path('ticket_new') }}" class="theme_button color2" >Ajouter ticket</a>
    <a href="{{ path('ticket_index') }}" class="theme_button color2" >Mes Tickets</a>
    <a href="{{ path('produit_index') }}" class="btn btn-primary">Mes Produits</a>
    <a href="{{ path('produit_new') }}" class="btn btn-primary">Ajouter produit</a>
</div>
