{% extends 'Admin.html.twig' %}



{% block content %}



    <div class="container">
        <div class="row">

            <div class="col-sm-10 col-sm-push-1">

                <article class="single-post vertical-item content-padding big-padding post with_background rounded">

                    <div class="item-content">


                        <header class="entry-header">

                            <p class="content-justify item-meta">

								<span class="entry-date highlightlinks">

										<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
											<strong>{{ Article.auteur }}</strong> {{ Article.date|date('\\à H:i \\l\\e d-m-y') }}
										</time>

								</span>
                            </p>

                            <h1 class="entry-title topmargin_0">
                                {{ Article.titre }}
                            </h1>

                        </header>
                        <!-- .entry-header -->

                        <div class="entry-content">

                            <p>{{ Article.contenu }}</p>
                            <p><strong>{{ Article.auteur }}</strong></p>





                        </div>
                        <!-- .entry-content -->

                    </div>
                    <!-- .item-content -->

                </article>
                <h3>Commentaires :</h3>
                {% for Commentaires in Commentaires %}

                    <div class="author-meta side-item content-padding with_background rounded">

                        <div class="row">



                            <div class="col-md-8">
                                <div class="item-content">
                                    <h5 class="text-uppercase poppins"><strong>{{ Commentaires.auteur }}</strong></h5>
                                    <p class="small-text highlight2 bottommargin_10">{{ Commentaires.date|date('\\à H:i \\l\\e d-m-y') }}</p>

                                    <p>{{ Commentaires.contenu }}</p>

                                        <a href="{{ path('SupprimerCommentaire',{'id':Commentaires.id}) }}">supprimer</a>



                                    <!-- <div class="author-social"> -->


                                </div>
                            </div>



                        </div>
                    </div>
                {% else %}
                    No comments yet.
                {% endfor %}

                <h3><a href="../AdminAfficherArticle">Retour a la liste des articles</a></h3>

            </div>
        </div>
    </div>


{% endblock %}