{% extends 'base.html.twig' %}



{% block content %}



    <h2>{{ Article.titre }}</h2>
    <p>{{ Article.contenu }}</p>

    <h3>Commentaires</h3>
{% for Commentaires in Commentaires %}
        <strong>{{ Commentaires.auteur }}</strong> {{ Commentaires.date|date('\\à H:i \\l\\e d-m-y') }} : {{ Commentaires.contenu }}<br>
    {% if Commentaires.user.id ==  user.id %}
    <a href="{{ path('SupprimerCommentaire',{'id':Commentaires.id}) }}">supprimer</a>
    <a href="{{ path('ModifierCommentaire',{'id':Commentaires.id}) }}">Modifier</a><br>

    {% endif %}
    {% else %}
        No comments yet.
    {% endfor %}

    <h3>Add a comment</h3>

    {{ form(form) }}
    <br>
    <h3><a href="../AfficherArticle">Retour a la liste des articles</a></h3>


{% endblock %}

