{% extends 'base.html.twig' %}

{% block content %}
    <h1>Produit edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <li>
        <input type="submit" value="Modifier" />
    </li>
    {{ form_end(edit_form) }}

    <li>
    <a href="{{ path('produit_index') }}">Retour à la liste</a>
    </li>
    {{ form_start(delete_form) }}
    <li>
            <input type="submit" value="Supprimer">
    </li>
    {{ form_end(delete_form) }}


{% endblock %}
