{% extends 'base.html.twig' %}

{% block content %}
    <h1>Categorie edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_categorie_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('admin_categorie_delete', { 'id': categorie.id }) }}">Supprimer</a>

        </li>
    </ul>
{% endblock %}
