{% extends 'base.html.twig' %}

{% block content %}
    <h1>Categories list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td><a href="{{ path('admin_categorie_show', { 'id': categorie.id }) }}">{{ categorie.id }}</a></td>
                <td>{{ categorie.nom }}</td>
                <td>{% if categorie.createat %}{{ categorie.createat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_categorie_delete', { 'id': categorie.id }) }}">Supprimer</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_categorie_edit', { 'id': categorie.id }) }}">Modifier</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_categorie_new') }}">Creér une nouvelle catégorie</a>
        </li>
    </ul>
{% endblock %}
